/**********************************************
*** GENERAL
**********************************************/

html {
    font-size: 20px;
}

body {
    font-family: FF Mark, sans-serif;
    padding-top: 110px;
    padding-bottom: 70px;
}

.navbar {
    box-shadow: 3px 3px 5px 6px #ccc;
}

.navbar .navbar-brand {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}

.navbar .navbar-brand .logo {
    margin-top: 12px;
}

.lead {
    color: #404040;
}


/**********************************************
***CONTENT & SIDE
**********************************************/

.content h1 {
    font-family: "Ubuntu", sans-serif;
    text-align: center;
    font-weight: 900;
    font-size: 4.34779rem;
}

.content p {
    font-family: "Ubuntu Condensed", sans-serif;
    font-size: 15px;
    font-weight: 400;
}

.side h1 {
    font-family: "Ubuntu", sans-serif;
    text-align: center;
    font-weight: 900;
    font-size: 4.34779rem;
}

.side p {
    font-family: "Ubuntu Condensed", sans-serif;
    font-size: 15px;
    font-weight: 400;
}

.footer {
    height: 70px;
}

.footer p {
    padding-top: 1%;
    margin: auto;
    position: relative;
    bottom: 0;
    left: 30%;
    z-index: -1;
}

.top-buffer {
    margin-top: 20px;
}

.main-image {
    margin: auto;
}

#icons {
    margin: 5% 10% 5%;
    padding-top: 20px;
    height: 10%;
}
